@font-face {
    font-family:'Geminis';
    src: url(fonts/BD_Geminis.ttf);
}

@font-face {
    font-family: 'Fimo-outline';
    src: url(fonts/BD\ Fimo\ Outline.otf);
}

@font-face {
    font-family: 'Fimo-normal';
    src: url(fonts/BD\ Fimo.otf);
}

body {
    min-height: 100vh;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Geminis';
}

.header {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-bottom: 12px;
    height: 477px;
    padding-bottom: 32px;
    background-image: url(images/vines.png), url(images/vines-1.png), linear-gradient(black, rgba(255,0,0,0));
    background-position: left center, right center;
    background-size: contain, contain;
    background-repeat: no-repeat, no-repeat;
}

.container-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: azure;
    border: 2px solid #6aff00;
}

.container-head-two {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 48px;
    margin-left: 30vh;
    margin-right: 30vh;
    min-width: 613px;
    height: 100%;
    background-image: linear-gradient(#e6e6e6, rgba(128, 18, 18, 0));
    border-radius: 24px;
    background-color: white;
    /*box-shadow: 0px 0px 8px 1px black;*/
}

.head-text {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 8px;
    gap: 8px;
    margin: 8px;
}

.large {
    font-weight: bold;
    font-size: 64px;
    -webkit-text-stroke: 1px #6aff00;
    /*text-shadow: 0px 2px 4px #6aff00;*/
    color: black;
}

.small {
    padding-right: 75px;
    font-size: 32px;
    color: black;
    font-family: 'Fimo-outline';
}

.button-one{
    width: 75px;
    border-radius: 12px;
    padding: 4px;
    margin-top: 12px;
    background-color: #6aff00;
    color: azure;
    font-size: 24px;
    -webkit-text-stroke: 1px black;
    font-family: 'Fimo-normal';
}

.head-img {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 11px;
    height: 93%;
    /*border: 2px solid black;*/
    border-radius: 24px;
    box-shadow: 0px 0px 8px 1px black;
    background-image: url(images/galaxy.png);
    background-size: cover;
}

.transparent{
    opacity: 0;
}

.galaxy{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.logo{
    align-items: center;
    display: flex;
    justify-content: center;
    justify-items: center;
    font-size: 24px;
}

.logo-text{
    padding-top: 6px;
}

.logo-img {
    height: 5vh;
    width: auto;
    margin-left: 30vh;
    padding: 8px;
    padding-left: 0px;
}

.list {
    margin-right: 30vh;
}

.content {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
}

ul {
    list-style: none;
    padding-top: 6px;
    margin-right: 0px;
}

li {
    display: inline;
    padding-left: 8px;
    padding-right: 8px;
}

.link-three{
    padding-right: 0px;
}

.content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 32px;
    color: #2e4033;
}

.content-title{
    font-size: 32px;
    margin-bottom: 32px;
    -webkit-text-stroke: 1px black;
}

.content-images{
    display: flex;
}

.content-image{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: 24px;
    margin-right: 24px;
    align-items: center;
}

.snake{
    height: auto;
    width: 200px;
    border: 3px solid #2e4033;
    border-radius: 12px;
    margin-bottom: 12px;
    box-shadow: 0px 0px 8px 1px #2e4033;
}

.snake-text{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-family: 'Fimo-outline';
    font-size: 28px;
}

.quote{
    display: flex;
    font-size: 32px;
    margin-left: 30vh;
    margin-right: 30vh;
    overflow-wrap: break-word;
    width: 992px;
    word-break: break-all;
    font-style: italic;
}

.quote-author{
    font-size: 28px;
    margin-left: 30vh;
    margin-right: 32vh;
    align-items: flex-end;
    justify-content: flex-end;
    align-content: flex-end;
    display: flex;
    width: 992px;
    font-weight: bold;
    font-family: 'Fimo-outline';
}

.content-container-two{
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    padding: 32px;
    padding-top: 105px;
    padding-bottom: 80px;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(rgba(128, 18, 18, 0),#2e4033);
    color: azure;
}

.content-container-three{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 420px;
    height: 0;
    width: 100%;
    background-image: url(images/codeboi.png);
    background-size: cover;
    background-position-y: bottom;
}

.content-box-three{
    display: flex;
    background-color: rgba(255, 255, 255, .9);
    height: 50%;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    padding-left: 100px;
    padding-right: 100px;
    box-shadow: 0px 0px 8px 1px #2e4033;
}

.call-to-action{
   margin-right: 100px;
   font-family: 'Fimo-normal';
   color: #2e4033;
}

.title-three{
    font-size: 42px;
}

.text-three{
    font-size: 24px;
}

.button-three{
    width: 75px;
    border-radius: 12px;
    padding: 4px;
    background-color: #2e4033;
    color: azure;
    font-size: 24px;
    -webkit-text-stroke: 1px black;
    font-family: 'Fimo-normal';
}

.footer{
    display: flex;
    flex-direction: column;
    min-height: 120px;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: azure;
    font-family: 'Geminis';
    font-size: 24px;
}

.self-link{
    text-align: center;
}

.font-link{
    text-align: center;
    font-size: 12px;
}

a:link{
    text-decoration: none;
    color: azure;
}

a:visited{
    text-decoration: none;
    color: azure;
}

a:hover{
    color: #6aff00;
}