@font-face {
    font-family:'Geminis';
    src: url(fonts/BD_Geminis.ttf);
}

body {
    min-height: 100vh;
    display: flex;
    margin: 0;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Geminis';
}

.header {
    display: flex;
    flex-direction: column;
    margin: 0;
    background-image: linear-gradient(black, rgba(255,0,0,0));
}

.container-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: azure;
    border: 2px solid #6aff00;
}

.container-head-two {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 48px;
    
}

.head-text {
    display: flex;
    flex-direction: column;
    width: 60vh;
    padding: 8px;
    gap: 8px;
}

.large {
    font-weight: bold;
    font-size: 48px;
    -webkit-text-stroke: 1px #6aff00;
    /*text-shadow: 0px 2px 4px #6aff00;*/
    color: black;
}

.small {
    padding-right: 100px;
    font-size: 24px;
    color: #d1d1d1;
}

.button-one{
    width: 75px;
    border-radius: 12px;
    padding: 4px;
    background-color: black;
    color: azure;
}

.head-img {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: azure;
    width: 60vh;
    
}

.logo-img {
    height: 5vh;
    width: auto;
}

.content {
    display: flex;
}

.footer{
    display: flex;
}

ul {
    list-style: none;
}

li {
    display: inline;
    padding-left: 8px;
    padding-right: 8px;
}