@font-face {
    font-family:'Geminis';
    src: url(fonts/BD_Geminis.ttf);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: 'Geminis';
}

.header {
    display: flex;
    flex-direction: column;
}

.container-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-head-two {
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-text {
    display: flex;
    flex-direction: column;
    
}

.head-img {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-img {
    height: 5vh;
    width: auto;
}

.content {
    display: flex;
}

.footer{
    display: flex;
}

ul {
    list-style: none;
}

li {
    display: inline;
}